<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalfinancemanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activities.ExpenseActivity"
            android:label="@string/title_activity_deduct_funds" >
        </activity>
        <activity
            android:name="com.example.personalfinancemanager.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalfinancemanager.MainActivity" />
        </activity>
        <activity
            android:name="activities.AddFundsActivity"
            android:label="@string/title_activity_add_funds" >
        </activity>
        <activity
            android:name="info.RecurringExpensesActivity"
            android:label="@string/title_activity_bills" >
        </activity>
        <activity
            android:name="info.ManageExpenseCategoriesActivity"
            android:label="@string/title_activity_manage_expense_categories" >
        </activity>
        <activity
            android:name="info.IncomeActivity"
            android:label="@string/title_activity_income" >
        </activity>
        <activity
            android:name="activities.HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.UserGuide"
            android:label="@string/title_activity_user_guide" >
        </activity>
        <activity
            android:name="info.InformationMenu"
            android:label="@string/title_activity_information_menu" >
        </activity>
        <activity
            android:name="stats.StatisticsMenu"
            android:label="@string/title_activity_statistics_menu" >
        </activity>
        <activity
            android:name="stats.TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history" >
        </activity>
        <activity
            android:name="stats.SpendingHabits"
            android:label="@string/title_activity_spending_habits" >
        </activity>
        <activity
            android:name="stats.BillDueDates"
            android:label="@string/title_activity_bill_due_dates" >
        </activity>
        <activity
            android:name="info.SavingsActivity"
            android:label="@string/title_activity_savings" >
        </activity>
        <activity
            android:name="stats.SpendingPieGraph"
            android:label="@string/title_activity_spending_habits" >
        </activity>
    </application>

</manifest>
